.header-container{
    height: 800px;
    width: 1350px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../Pics/Hotel-header.png");
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 50px;
}

.welc-h{
    display: flex;
    justify-content: center;
}

.mini-welc-h{
    width: 1048px;
    text-align: left;
    color: white;
}

.frst-welc{
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 280;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 150px;
}

.scnd-welc{
    font-family: Adobe Garamond Pro;
    font-size: 108px;
    font-style: normal;
    font-weight: 490;
    line-height: 130px;
    letter-spacing: 0.07em;
    text-align: left;
    margin-top: -35px;
    margin-bottom: -30px;
}

.thrd-welc{
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 280;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
}

.frth-welc{
    
    border-radius: nullpx;
    width: 600px;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-align: left;
}

.btn-h{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.scroll-h{
    display: flex;
    justify-content: center;
}